 
<!-- <div class="main">    
        <form>
            <input type="text" name="message" [(ngModel)] = "dataSet.message">
            <button (click) ="sendMessage()">Send Message</button>
        </form>        
</div>

<div class="main">    
       <form>
           <button (click) ="getMessage()">New Message</button>
       </form>
      
       <div *ngFor ="let messageData of messageDatas">
            {{messageData.message}}
          </div>  
         
   </div> -->


   <div class="main">    
    <form>
        USERNAME: <input type="text" name="uname" [(ngModel)] = "dataSet.username">
        PASSWORD: <input type="password" name="pwd" [(ngModel)] = "dataSet.password">
        <button (click) ="testLogin()">Login</button>
    </form>        
</div>
<div>
        <button (click) ="checkSession()">Check Session</button>
</div>  



 <!-- <div class="main">    
    <form>
        <button (click) ="showJson()" class="btn btn-primary" >Show Data</button>
       
    </form>        
</div> 

{"furniture": {
             "bed": {
               "4": "I am First in bed",
               "6": "I am Second in bed",
               "7": "I am Third in bed"
              },
             "Chair": {
                 "5": "I am First in Chair"
                 }
             }
          }
-->
<!--  
<div *ngFor= "let subCat of jsonDataSets | keys">
    {{subCat}}
    <div *ngFor = "let attr of jsonDataSets[subCat] | keys">
        {{attr}} 
          <div *ngFor="let image of jsonDataSets[subCat][attr] | keys">
             {{image}} : {{jsonDataSets[subCat][attr][image]}}
          </div> 
    </div>
</div> -->
<!-- <div *ngFor="let key of objs | keys">{{key}}:{{objs[key].description}}</div> -->
