<!-- <h1> {{title}} </h1>
<app-students></app-students> -->
<!-- <app-employee> </app-employee>  -->
<!-- <app-adding></app-adding> -->
<!-- <app-signup> </app-signup> -->
<!-- <app-signin> </app-signin> -->
<!-- <div> 
        <a routerLink ="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>  
   <a routerLink ="/signup" routerLinkActive="active" >Signup</a>
   <a routerLink ="/signin" routerLinkActive="active">Signin</a>
    <router-outlet> </router-outlet>  
</div> -->
<app-formtest></app-formtest> 