.main{    
    width: 500px;
    text-align: center;
    margin: 0 auto;
    border: 2px solid black;
    margin-top: 30px;
}
h1{
    text-align: center;
    background-color:cornflowerblue;
    padding: 30px 0px;
    margin-top: 0px;
    color: white;
}
.addItem{
    position: relative;
    padding-bottom: 0px;
    height: 30px;
}
.addText{
    width: 80%;
    height: 30px;
    padding: 5px;
    font-size: 20px;
}

.addText button{
    width: 50px;
    height: 45px;
    padding: 5px;    
}

ul{
    list-style: none;
    font-size: 20px;
    color:grey;
    margin-left: -40px;
    margin-bottom: 0px;
}

li{
    border-bottom: 1px solid #bfbfbf;
    background-color: lemonchiffon;
    padding: 10px 0px;
    margin-bottom: 5px;
}

span{
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: 10px; 
}
